<!--index.wxml-->
<view class="container">
  <image class="image-bg" src="/images/login/loginbg.png" />
  <view class="zhanwei-bg">
    <view class="subtitle">欢迎使用互联网信息采集小程序</view>
  </view>
  <view class="functionBG">
    <view wx:for="{{functionList}}" wx:key='index'>
      <view class="function-item" data-index="{{index}}" bindtap="selectButton">
        <image class="bg-image" src='{{item.image}}' />
        {{item.title}}
      </view>
    </view>
  </view>
</view>