<!--index.wxml-->
<view class="container">
  <view class="functionBG">
    <view wx:for="{{dataList}}" wx:key='index'>
      <view class="function-item" data-index='{{index}}' bindtap="selectButton">
        <view class="item-up">
          <view class="name-circle">
            <image class="icon" src='/images/public/car.png' />
          </view>
          <view class='name-card-bg'>
            <view class="name-sex-bg">
              <view class="name">{{item.carNumber}} </view>
            </view>
            <view class="message-cell-bg">
              <view class="message-cell-title">车辆持有人：</view>
              <view class="message-cell-content">{{item.carHolder}}</view>
            </view>
          </view>
          <image data-index='{{index}}' class="image" catchtap='editAction' src='/images/public/icon_edit.png' />
        </view>

        <view class="messge-bg" wx:if="{{item.open == 'true'}}">
          <view class="message-cell-bg">
            <view class="message-cell-title">持有人身份证：</view>
            <view class="message-cell-content">{{item.holderCardNumber}}</view>
          </view>
          <view class="message-cell-bg">
            <view class="message-cell-title">车辆颜色：</view>
            <view class="message-cell-content">{{item.carColor}}</view>
          </view>
          <view class="message-cell-bg">
            <view class="message-cell-title">车型：</view>
            <view class="message-cell-content">{{item.carType}}</view>
          </view>
          <view class="message-cell-bg">
            <view class="message-cell-title">生产厂家：</view>
            <view class="message-cell-content">{{item.factory}}</view>
          </view>
          <view class="message-cell-bg">
            <view class="message-cell-title">使用人：</view>
            <view class="message-cell-content">{{item.user}}</view>
          </view>
        </view>
        <view class="line"></view>

        <view class="openButton" wx:if="{{item.open == 'false'}}" data-index='{{index}}' catchtap="openAction">展开
          <image class="icon" src='/images/public/down.png' />
        </view>
        <view class="openButton" wx:else data-index='{{index}}' catchtap="openAction">收起
          <image class="icon" src='/images/public/up.png' />
        </view>

      </view>
    </view>
  </view>
  <view bindtap="addCar" class="addView">
    <image class="addbutton" src='/images/public/addbutton.png' />
  </view>
  <block wx:if="{{dataList.length == 0}}">
    <view style='display: flex;flex-direction: column;align-items: center;margin-top: 40%;'>
      <image src='/images/public/empty.png' style='width:418rpx;height:190rpx;'></image>
      <text style='color:#c1c1c1;'>{{text || '暂无内容'}}</text>
    </view>
  </block>

</view>