/* pages/my/login/login.wxss */
.container {
  position: relative;
  height: 100vh;
  padding: 0rpx;
  margin: 0rpx;

}

.zhanwei-bg {
  width: 100%;
  height: 570rpx;
}

.subtitle {
  margin-left: 45rpx;
  font-weight: 600;
  font-size: 42rpx;
}

.image-bg {
  position: absolute;
  left: 0rpx;
  top: 0rpx;
  width: 100%;
  height: 570rpx;
  z-index: -1;

}

.login-view {
  height: auto;
  padding: 0rpx 30rpx;
  margin-top: -50rpx;
}

.weui-input {
  padding-left: 26rpx;
  flex: 1;
  height: 100rpx;
  font-size: 34rpx;
  color: #333333;
}

.zh-bg {
  margin: 0rpx 20rpx;
  width: 650rpx;
  border-bottom: 1rpx solid #e6e6e6;
}

.input-placeholder {
  font-size: 34rpx;
  color: #b1b1b1;
}

.code-view {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sendCode {
  background-color: #02bc9b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100rpx;
  width: 200rpx;
  font-size: 28rpx;
  border-radius: 0;
}

.sendCode::after {
  border: none;
  border-radius: 0;
}

.topup {
  color: white;
  margin-top: 40rpx;
  height: 100rpx !important;
  line-height: 100rpx !important;
  width: 680rpx !important;
  text-align: center;
  border-radius: 60rpx;
  font-size: 36rpx;


}

.topup::after {
  border: none;
}

.display {
  display: flex;
}

.align {
  align-items: center;
}

.title {
  margin-left: 20rpx;
}

.logo {
  margin-top: 200rpx;
  width: 180rpx;
  height: 180rpx;
}

.close-icon {
  width: 60rpx;
  height: 60rpx;


}