
 .container {
   background-color: rgb(247, 247, 247);
 }

 .functionBG {
   width: 100%;
   display: flex;
   flex-direction: column;
 }

 .function-item {
   width: auto;
   background-color: #ffffff;
   color: #333333;
   border-radius: 8rpx;
   margin: 20rpx;
   overflow: hidden;
 }

 .function-item .item-up {
   display: flex;
   width: 100%;
   padding-top: 10rpx;
   overflow: hidden;

 }

 .item-up .name-card-bg {
   overflow: hidden;
   margin-top: 10rpx;
   height: 108rpx !important;
   flex: 1;
 }

 .name-sex-bg {
   display: flex;
   align-items: center;
   height: 44rpx;
 }

 .name-sex-bg .sex-image {
   width: 30rpx;
   height: 30rpx;
   margin-left: 15rpx;
 }

 .item-up .name-circle {
   width: 88rpx;
   height: 88rpx;
   text-align: center;
   line-height: 88rpx;
   border-radius: 44rpx;
   margin-top: 10rpx;
   margin-left: 20rpx;
   color: #ffffff;
   font-weight: 500;
   
 }

 .name-circle1 {
   background-color: rgb(88, 177, 247);
 }

 .name-circle2 {
   background-color: rgb(67, 127, 245);
 }

 .name-circle3 {
   background-color: rgb(240, 160, 74);
 }

 .item-up .name {
   margin-left: 20rpx;
   height: 44rpx;
   font-size: 30rpx;
   line-height: 44rpx;

 }

 .item-up .idCard {
   margin-left: 20rpx;
   height: 44rpx;
   font-size: 32rpx;
   line-height: 44rpx;

 }

 .function-item .image {
   margin-right: 20rpx;
   width: 40rpx;
   height: 40rpx;
   margin-top: 34rpx;
 }

 .addView {

   bottom: 60rpx;
   right: 20rpx;
   text-align: center;
   position: fixed;
   color: white;

 }

 .addbutton {
   width: 120rpx;
   height: 120rpx;
 }

 .line {
   border-bottom: 1rpx solid #dfdfdf;
   height: 2rpx;
   width: auto;
   margin: 0rpx 20rpx;

 }

 .openButton {
   width: 100%;
   height: 80rpx;
   line-height: 80rpx;
   font-size: 28rpx;
   text-align: center;
   color: rgb(52, 105, 233);
 }

 .icon {
   width: 25rpx;
   height: 25rpx;
 }

 .messge-bg {
   width: 100%;
   height: auto;
   margin: 20rpx;

 }

 .message-cell-bg {
   width: 100%;
   display: flex;
   margin: 15rpx 0rpx;
 }

 .message-cell-title {
   color: #888888;
   font-size: 28rpx;
 }

 .message-cell-content {
   font-size: 28rpx;
   color: #000000;
   margin-left: 10rpx;
   flex: 1;
   margin-right: 30rpx;
 }