<view class='container_form'>
  <form bindsubmit="formSubmit" form='model' bindreset="formReset" class='form'>
    <view class='item'>
      车辆持有人<span class="form-start">*</span>
      <input type='text' class="input" placeholder-class="placeholder-input" name="carHolder" value='{{carHolder}}' placeholder='请填写车辆持有人'></input>
    </view>

    <view class='item'>
      持有人证件号码<span class="form-start">*</span>
      <input type='text'  class="input"  placeholder-class="placeholder-input"  name="holderCardNumber" value='{{holderCardNumber}}' placeholder='请填写证件号码'></input>
    </view>

    <view class='item'>
      车辆号码
      <input type='number' class="input"  placeholder-class="placeholder-input"  name="carNumber" value='{{carNumber}}' placeholder='请填写车辆号码'></input>
    </view>

    <view class='item'>
      车辆颜色<span class="form-start">*</span>
      <input type='number' class="input"  placeholder-class="placeholder-input"  name="carColor" value='{{carColor}}' placeholder='请填写车辆颜色'></input>
    </view>

    <view class='item'>
      车型
      <input type='text'  class="input"  placeholder-class="placeholder-input"  name="carType" value='{{carType}}' placeholder='请填写生产厂家'></input>
    </view>

    <view class='item'>
      生产厂家
      <input type='text' class="input"  placeholder-class="placeholder-input"  name="factory" value='{{factory}}' placeholder='请填写生产厂家'></input>
    </view>

    <view class='item'>
      使用人
      <input type='text' class="input"  placeholder-class="placeholder-input"  name="user" value='{{user}}' placeholder='请填写使用人'></input>
    </view>


    <view class="container_button">
      <button form-type="submit"  class='btn'>确定</button>
    
    </view>
  
  </form>

</view>