<template name="emptyView">
  <view style='display: flex;flex-direction: column;align-items: center;margin-top: 40%;'>
    <!-- <image src='/images/public/empty.png' style='width:418rpx;height:190rpx;'></image> -->
    <text style='color:#c1c1c1;'>{{text || '暂无内容'}}</text>
  </view>
</template>