 
<view class='container'>
 
<view class="header">
  <image src="https://comuhome.yunzhuyang.com/f/d/qt7dMDdmyXQ=" style="width:100%;height:595rpx;" />
  <!-- <image class='icon' src='{{fd}}{{orgInfo.img}}' wx:if="{{communityList.length<=1 || jsonVul.fromwitch ==1}}" /> -->
</view>

<view class="community-card">
  <image wx:if="{{communityList.length>1 && jsonVul.fromwitch !=1}}" bindtap="startCommunity" class="icon-switch" src="/images/public/icon_org_switch.png" />
  <image style="width:100rpx;height:100rpx;" src='{{fd}}{{orgInfo.img}}' />
  <view style="font-size:48rpx;margin-top: 30rpx;">{{orgInfo.org_name}}</view>
  <view style="font-size:28rpx;color:#999;margin-top: 30rpx;">{{orgInfo.province}}{{orgInfo.city}}{{orgInfo.area}}{{orgInfo.addr}}
  </view>
</view>

<view class="authorization-container" wx:if="{{wxUser}}">
  <view style="width:100%">
    <view class="title">授权后小程序将获得以下权限</view>
    <view class='tipLabel'>获得您的公开信息（昵称、头像、性别等）</view>
  </view>
  <view class="authorization-btn-container">
    <button class="save-btn" style='width:35%;background:#c9c9c9' bindtap='rebackAction'>暂不授权</button>
    <button open-type='getUserInfo' bindgetuserinfo='lwogin' class="save-btn">微信授权</button>
  </view>
</view>

<view class="login-container" wx:else>
  <!-- <view style="color:#999;font-size:24rpx;">选择登录方式</view> -->
  <button class='loing-btn' style="background-color: #06BC9C;" type='primary' hidden bindgetphonenumber='getPhoneNumber' open-type="getPhoneNumber">微信登录</button>
  <button id='5' class='loing-btn' style="background-color: #FDBF62;" open-type="getUserInfo" bindgetuserinfo='bindGetUserInfo'>账号密码登录</button>

  <button class='loing-btn' style="background-color: #c9c9c9;" bindtap='unloginbackAciton'>暂不登录</button>
</view>

</view>
<multiaccount-dialog bind:itemClick="selectAccount" showDialog="{{showAccountDialog}}" items="{{accounts}}" />

 